

	body {
		margin: 0;
		padding: 0;
		background: url('/bg.jpg') no-repeat center center fixed;
		background-size: cover;
		font-family: Arial, sans-serif;
		color: #333;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px;
		height: 100vh;
	}

	.simulation {
		position: relative;
		flex: 2;
		border: 1px solid #ccc;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0);
		padding: 10px;
		height: calc(100% - 40px);
	}

	.controls {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1%;
		padding: 2%;
		background: rgba(255, 255, 255, 0);
		border-radius: 10px;
		height: calc(100% - 40px);
	}

	.controls .btn {
		width: 35%;
		cursor: pointer;
	}

	.controls .info {
		margin-bottom: 10px;
	}

	.controls .info label {
		font-weight: bold;
	}

	.controls .weight-adjuster {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.controls .weight-adjuster button {
		width: 30px;
		height: 30px;
		font-size: 18px;
		cursor: pointer;
		border: 1px solid #333;
		border-radius: 5px;
		background-color: #f0f0f0;
	}

	.controls .weight-adjuster span {
		width: 50px;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	img.tower {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 75%;
	}

	img.bags {
		position: absolute;
		top: 4%;
		left: 50%;
		transform: translateX(-50%);
		height: 30%;
	}

	img.ground {
		position: absolute;
		bottom: 0;
		height: 6%;
		width: 15%;
	}

	#ground-1 {
		left: 12%;
	}

	#ground-2 {
		left: 75%;
	}

	img.line {
		position: absolute;
		right: 0;
		top: 15%;
		width: 5%;
		height: 85%;
		cursor: pointer;
	}

	img.rook {
		position: absolute;
		transform: translate(-50%, -50%);
		width: 5%;
		/* height: 5%; */
	}

	img.done {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		height: 10%;
	}